@{

    ViewData["Title"] = "Suma z wiersza";
}

<center>
<form asp-action="SumRow" asp-controller="Operations">
        <h1 style="font-size:30px;">Podaj numer wiersza, którego sumę elementów chcesz policzyć:</h1>
        <input type="number" style="text-align:center;font-size:24px;" name="row">
    <br />
        <input style="font-size:24px;" type="submit" id="submit" class="btn-primary" value="Potwierdź" />
</form>
    <a asp-controller="Operations" asp-action="Options" class="btn btn-success" style="font-size:24px;position:absolute;bottom:50px;transform: translate(-50%, -50%);">Wróć do opcji</a>
</center>