@{

    ViewData["Title"] = "Opcje";
}

<div class="options-container">
<h1>Opcje</h1>
<br />
<a asp-controller="Operations" asp-action="Print">1. Wypisz macierz na ekran.</a>
<br />
<a asp-controller="Operations" asp-action="SumDiagonal">2. Oblicz sumę elementów głównej przekątnej macierzy.</a>
<br />
<a asp-controller="Operations" asp-action="MatrixRow">3. Oblicz sumę elementów z wskazanego wiersza macierzy.</a>
<br />
<a asp-controller="Operations" asp-action="MatrixColumn">4. Oblicz sumę elementów z wskazanej kolumny macierzy.</a>
<br />
<a asp-controller="Operations" asp-action="Save">5. Zapisz macierz do pliku.</a>
</div>