@using Newtonsoft.Json
@{
    ViewData["Title"] = "Opcje";
    @model Macierze.Models.MatrixModel;
    string serializedMatrix = JsonConvert.SerializeObject(Model);
}

<div class="options-container">
    <h1>Opcje</h1>
    <form method="post">
        <input type="hidden" id="serializedMatrix" name="serializedMatrix" value="@serializedMatrix" />
        <br />
        <button type="submit" class="btn btn-secondary" asp-controller="Operations" asp-action="Print">1. Wypisz macierz na ekran.</button>
        <br />
        <br />
        <button type="submit" class="btn btn-secondary" asp-controller="Operations" asp-action="SumDiagonal">2. Oblicz sumę elementów głównej przekątnej macierzy.</button>
        <br />
        <br />
        <button type="submit" class="btn btn-secondary" asp-controller="Operations" asp-action="MatrixRow">3. Oblicz sumę elementów z wskazanego wiersza macierzy.</button>
        <br />
        <br />
        <button type="submit" class="btn btn-secondary" asp-controller="Operations" asp-action="MatrixColumn">4. Oblicz sumę elementów z wskazanej kolumny macierzy.</button>
        <br />
        <br />
        <button type="submit" class="btn btn-secondary" asp-controller="Operations" asp-action="Save">5. Zapisz macierz do pliku.</button>
    </form>
</div>