@using Newtonsoft.Json
@{
    ViewData["Title"] = "Suma z kolumny";
    @model Macierze.Models.MatrixModel;
}

<div class="center">
    <h1 style="font-size:30px;">Suma elementów z kolumny @Model.Sequence. jest równa: @Model.Sum.</h1>
    <br />
    <br />
</div>
<form asp-action="RedirectToOptions" asp-controller="Operations">
    @{
        string serializedObject = JsonConvert.SerializeObject(Model);
    }
    <input type="hidden" id="serializedObject" name="serializedObject" value="@serializedObject" />
    <button type="submit" class="btn btn-success" style="font-size:24px;position:absolute;left:50vw;bottom:50px;transform: translate(-50%, -50%);">Wróć do opcji</button>
</form>