.options-container{
    width: 100%;
    text-align: center;
}

.options-container > h1 {
    font-size: 50px;
}

    .options-container > a {
        font-size: 28px;
        padding: 5px;
        display: block;
    }