@{

    ViewData["Title"] = "Błąd";
}

<center>
    <h1 style="font-size:30px;">Brak określonego wierszu w macierzy! (Minimalny wiersz - 1; Maksymalny wiersz - @ViewBag.Size)</h1>
    <br />
    <a asp-controller="Operations" asp-action="Options" class="btn btn-success" style="font-size:24px;">Wróć do opcji</a>
    </center>